
@font-face {
    font-family: popping ;
    src: url(./Poppins-Bold.ttf);
}
:root{
    --color-main:#141413;
    --color-article:#242421;
    --color-menu:#131311;
    --color-purple:#6309bd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"popping", sans-serif;
   background-image: url("./assets/sea-2052650_1280.jpg");
}
.content{
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(3, 3, 3, 0.4);
    backdrop-filter: blur(20px);
}

.content-section{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}

.content-section-article{
    overflow: hidden;
    padding: 2rem;
    width: 90%;
    height: 87%;
    border-radius: 30px;
    background-color: rgb(3, 3, 3,.5);
    backdrop-filter: blur(100px);
}
.search-content{
    display: flex;
    flex-direction: row;
}
.searchContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 86%;
}
.searchContent input[type="text"]{
    border-radius: 20px;
    background-color: rgb(3, 3, 3,.5);
    backdrop-filter: blur(100px);
    border: 0;
    margin-left: .2rem;
    color: white;
    padding: .8rem 3rem;
}
.searchContent input[type="text"]:focus{
    outline: none;
}
.searchContent .search{
    backdrop-filter: none;
    background-color: transparent;
}
.searchContent button{
padding: 1.2rem;
height: 20px;
width: 20px;
cursor: pointer;
    border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;

background-color: rgb(3, 3, 3,.5);
backdrop-filter: blur(100px);
border: 0;
height: 30px;
}
.searchContent button img{
    width: 20px;
}
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.menu-resource{
    border-inline: .2rem solid var(--color-purple);
    backdrop-filter: blur(100px);
    padding: 1rem 3rem;
    border-radius: 10px;
}
.menu-resource ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.menu-resource ul li button{
    border: 0;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: .8rem;
    cursor: pointer;
}
.menu-resource ul li button:hover{
    color:rgb(138, 133, 133) ;
}
.menu ul li:hover{
    background-color: var(--color-purple);
}
/* MENUUUU */
.menu{
    background-color: rgb(0, 0, 0,.5);
backdrop-filter: blur(100px);  
}
.menu nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem;
}
.menu nav h2{
    font-size: 1.1rem;
}
.menu nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3.2rem;
    width: 100%;
}
.menu nav ul li{
    padding: .7rem 1rem;
    border-radius: 10px;
    transition:all .1s ease ;
}
.menu nav ul li:hover{
    background-color: var(--color-purple);
    
}
.menu nav ul li a{
    font-size: .8rem;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.bi{
    color: white;
}

 /* ccarddd */
 .content-card{
    margin-top: 2rem;
    display: grid;
    width: 100%;
    padding-top: 1rem;
    height: 440px;
    gap: 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
    grid-auto-rows: 130px;
    overflow-y: auto;
    
 }

  

  
  
  
.card-resource{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(100px);
    position: relative;
    background-color: #141413;
    padding:.6rem 2rem;
    gap: .2rem;
    border-left: .2rem solid var(--color-purple);
    background-color:var(--color-main);
    border-radius: 10px;
    font-size:.7rem;
    
    height: auto;
}
.card-resource h2{
color: rgb(141, 137, 137);
}

.card-resource h3{
    font-size: .65rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}
.card-resource h3::after{
    content: "";
    bottom: 12px;
    left: 29px;
    position: absolute;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    background-color: #313030;
}
.favorite{
    position: absolute;
    right:0;
    top: 10px;
cursor: pointer;
border: 0;
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
    width: 20px;
}

.favorite i{
    width: 100%;
}
.link{
    position: absolute;
    right:22px;
    top: 6.1px;
    border: 0;
   background-color: transparent;
    cursor: pointer;
   font-size: 1.2rem;
    width: 20px;
}



/* Estilos para la barra de desplazamiento vertical */
/* WebKit (Safari, Chrome) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #242323; /* Color del fondo de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Radio de borde de la barra de desplazamiento */
  }
  
  /* Estilos para la barra de desplazamiento horizontal */
  /* WebKit (Safari, Chrome) */
  ::-webkit-scrollbar-horizontal {
    height: 10px; /* Altura de la barra de desplazamiento horizontal */
  }
  
  ::-webkit-scrollbar-track-horizontal {
    background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento horizontal */
  }
  
  ::-webkit-scrollbar-thumb-horizontal {
    background-color: #888; /* Color de la barra de desplazamiento horizontal */
    border-radius: 5px; /* Radio de borde de la barra de desplazamiento horizontal */
  }
  