
@font-face {
    font-family: popping ;
    src: url(./Poppins-Bold.ttf);
}
:root{
    --color-main:#141413;
    --color-article:#242421;
    --color-menu:#131311;
    --color-purple:#6309bd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;

   background-image: url("./assets/full-moon-2055469_1280.jpg");
}
.content{
    display: grid;
    grid-template-columns:  1fr;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    background-color: rgba(27, 27, 27, 0.3);
    backdrop-filter: blur(20px);
}

.content-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;

}

.content-section-article{
    padding: 2rem;
    width: 90%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(100px);
}

.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
    color: white;
}
.category{
    font-size: 3rem;
    font-weight: bold;
}
.menu-resource{
    border-inline: .2rem solid var(--color-purple);
    backdrop-filter: blur(100px);
    padding: .9rem 2rem;
    border-radius: 10px;
}
.menu-resource ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.menu-resource ul li button{
    border: 0;
    
    font-weight: 500;    
    font-family: cursive;
    background-color: #5d05b4;
    padding: .5rem 1.2rem ;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: .9rem;
    cursor: pointer;
    transition: all .1s ease;

}
.menu-resource ul li button:hover{
    background-color: #2b084d;
    color:rgb(255, 255, 255) ;
}
.menu ul li:hover{
    background-color: var(--color-purple);
}
/* MENUUUU */

.bi{
    color: white;
}

 /* ccarddd */
 /* Estilos para las tarjetas de contenido */
.content-card {
    height: 70vh;
    padding: 4rem; /* Relleno interno */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura */
}

/* Estilos para los elementos dentro de la cuadrícula */
.content-item {
    width: 100%;
    display: grid; /* Usa una cuadrícula CSS */
    gap: 1rem; /* Espacio entre los elementos */
    justify-content: space-between; /* Alineación de los elementos */
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px)); /* Columnas automáticas con un ancho mínimo y máximo */
    grid-auto-rows: 140px; /* Altura de las filas automáticas */
    
}

/* Estilos para las tarjetas individuales */
.card-resource {
    display: flex; /* Usa flexbox para organizar el contenido */
    flex-direction: column; /* Dirección de flexión: columna */
    backdrop-filter: blur(100px); /* Aplica un efecto de desenfoque al fondo */
    background-color: var(--color-main); /* Color de fondo */
    padding: 1rem;
    gap: .2rem; /* Espacio entre los elementos internos */
    border-left: .3rem solid var(--color-purple); /* Borde izquierdo */
    border-radius: 10px; /* Radio de borde */
    font-size: .7rem; /* Tamaño de fuente */
    overflow: hidden;
    position: relative; /* Posición relativa */
}
.card-resource img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    transition: .2s ease;
}
.card-resource img:hover{
    transform: scale(1.5);
}
.card-resource h2{
color: rgb(255, 255, 255);
background-color: rgb(8, 8, 8, 1);
border-radius: 10px;
border-inline: .3rem solid var(--color-purple); /* Borde izquierdo */
padding: .6rem;
z-index: 1;
}

.card-resource h3{
    font-size: .65rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}
.card-resource h3::after{
    z-index: 1;
    content: "";
    bottom: 12px;
    left: 29px;
    position: absolute;
    width: 150px;
    height: 5px;
    border-radius: 10px;
    background-color: #313030;
}
.favorite{
    position: absolute;
    right:0;
    top: 10px;
cursor: pointer;
border: 0;
background-color: transparent;
display: flex;
align-items: center;
justify-content: center;
    width: 20px;
}

.favorite i{
    width: 100%;
}
.link{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    right:22px;
    bottom: 11px;
    border: 0;
    cursor: pointer;
    font-size: 1.2rem;
    width: 40px;
    z-index: 1;
    transition: all .1s ease;
    background-color: #242421;
}

.link:hover{
    background-color: var(--color-purple);
}

/* Estilos para la barra de desplazamiento vertical */
/* WebKit (Safari, Chrome) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #242323; /* Color del fondo de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Radio de borde de la barra de desplazamiento */
  }
  
  /* Estilos para la barra de desplazamiento horizontal */
  /* WebKit (Safari, Chrome) */
  ::-webkit-scrollbar-horizontal {
    height: 10px; /* Altura de la barra de desplazamiento horizontal */
  }
  
  ::-webkit-scrollbar-track-horizontal {
    background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento horizontal */
  }
  
  ::-webkit-scrollbar-thumb-horizontal {
    background-color: #888; /* Color de la barra de desplazamiento horizontal */
    border-radius: 5px; /* Radio de borde de la barra de desplazamiento horizontal */
  }
  

  @media screen and (max-width: 768px) {

    /* Estilos para las tarjetas de contenido */
.content-card{
    height: auto;
    
}
.menu-resource{
    border-inline: .2rem solid var(--color-purple);
    backdrop-filter: blur(100px);
    padding: 1rem 3rem;
    border-radius: 10px;
}
.menu-resource ul{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
/* Estilos para los elementos dentro de la cuadrícula */
.content-item {
    width: 100%;
    display: grid; /* Usa una cuadrícula CSS */
    gap: 1rem; /* Espacio entre los elementos */
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px)); /* Columnas automáticas con un ancho mínimo y máximo */
    grid-auto-rows:180px; /* Altura de las filas automáticas */
    
}
.content-item img{
    width: 120%;
    object-fit: cover;
}
}

/* Estilos para las tarjetas individuales */
